.Container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.item2 {
    flex: 1;
    padding: 20px;
    margin: 0px;
    background-color: #333;
    border: 0px;
    text-align: center;
}

.item2:hover {
    background-color: #bdbbbb;
}

.drop_text {
    color:white;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    text-align: left;
    margin: 20px;
}

.dropdown div {
    color: black;
    border-bottom: solid 1px;
    border-color: lightgrey;
    margin: 0px;
    padding-right: 10px;
}

.item2:hover .dropdown {
    display:block;
    background-color: white;
}

.dropdown div:hover {
    background-color: #bdbbbb;
}